/configstore/
/containers/
/fish/
/gtk-2.0/
/iterm2/
/jgit/
/karabiner/automatic_backups/
/wireshark/
/xm1/
/.idea/
/filezilla/
/deluge/
/Autodesk/
/.isolated-storage/
syncplay.ini
karabiner/.DS_Store
.DS_Store
