{
 :profiles  {:Default {;; "default true means" rules default goes into this rule if no profiles specified
                       :default true
                       ;; simultaneous key press threshold
                       ;; simlayer is implemented with to_if_alone and simultaneous key press feature
                       :sim  20
                       ;; to_delayed_action_delay_milliseconds
                       ;; checkout karabiner's documentation
                       ;; https://pqrs.org/osx/karabiner/json.html
                       ;; basically it means time after which the key press is count delayed
                       :delay   500
                       ;; https://pqrs.org/osx/karabiner/json.html#to-if-alone
                       ;; to_if_alone_timeout_milliseconds
                       ;; affects to_if_alone behavior
                       ;; simlayer is implemented with to_if_alone and simultaneous key press feature
                       :alone   500
                       ;; to_if_held_down_threshold_milliseconds
                       ;; check the doc, i don't know what does this mean.
                       ;; maybe press this many milliseconds counts a "held" ?
                       :held    300}}
 :simlayers {
             :navigation-mode {:key :delete_or_backspace}
             }

 :main      [
             {
              :des   "global rules"
              :rules [
                      ; hyper key
                      [:end [:left_command :left_option :left_shift :left_control]]
                      [:page_down [:left_command :left_option :left_shift :left_control]]
                      ; right combo setup
                      ; press d+f to indent
                      [[:d :f] :tab]
                      [[:s :d] :left_option]
                      [[:e :r] :right_command]
                      [[:w :e] :right_control]
                      ;[[:comma :period] :left_control]
                      ; right combo setup
                      ; press j+k to escape
                      [[:j :k] :escape]
                      [[:k :l] :right_option]
                      [[:u :i] :right_command]
                      [[:i :o] :right_control]
                      ; seems to be issue with using home row mode
                      ;[:f [] nil {:alone :f :held :left_command}]
                      ]
              }
             {:des   "Different persistent layers"
              :rules [
                      ; if symbol layer on then go to number layer
                      [:f20 [["symbol-layer" 0]["number-layer" 1]] [["symbol-layer" 1]["number-layer" 0]]]
                      ; if number layer activated then go to base layer
                      [:f20 [["symbol-layer" 0]["number-layer" 0]] [["symbol-layer" 0]["number-layer" 1]]]
                      ; if base layer activated then go to symbol layer
                      [:f20 [["symbol-layer" 1]["number-layer" 0]] [["symbol-layer" 0]["number-layer" 0]]]
                      ; shouldn't happen but if both symbol layer and number layer are activated then go to base layer
                      [:f20 [["symbol-layer" 0]["number-layer" 0]] [["symbol-layer" 1]["number-layer" 1]]]
                      ; one shot layers - still need todo in the future, for now it will just be used for reseting to base layer
                      [:f19 [["symbol-layer" 0]["number-layer" 0]["tmp-symbol-layer" 1]["tmp-number-layer" 0]] [["tmp-symbol-layer" 0]["tmp-number-layer" 0]]]
                      [:f19 [["symbol-layer" 0]["number-layer" 0]["tmp-symbol-layer" 0]["tmp-number-layer" 1]] [["tmp-symbol-layer" 1]["tmp-number-layer" 0]]]
                      [:f19 [["symbol-layer" 0]["number-layer" 0]["tmp-symbol-layer" 0]["tmp-number-layer" 0]] [["tmp-symbol-layer" 0]["tmp-number-layer" 1]]]
                      [:f19 [["symbol-layer" 0]["number-layer" 0]["tmp-symbol-layer" 0]["tmp-number-layer" 0]] [["tmp-symbol-layer" 1]["tmp-number-layer" 1]]]
                      ; reset to base layer mechanisms
                      [:escape [:escape ["symbol-layer" 0] ["number-layer" 0]]]
                      ]}
             {:des   "persistent layer for symbols"
              :rules [
                      :symbol-layer
                      ; upper layer left
                      [:e :equal_sign]
                      [:r :!Sequal_sign]
                      ; upper layer right
                      [:u :hyphen]
                      [:i :!Shyphen]
                      ;[:backslash :!Sbackslash]
                      ; middle layer left
                      [:a :!S1]
                      [:s :!S2]
                      [:d :!S3]
                      [:f :!S4]
                      [:g :!S5]
                      ; middle layer right
                      [:h :!S6]
                      [:j :!S7]
                      [:k :!S8]
                      [:l :!S9]
                      [:semicolon :!S0]
                      [:quote :!Squote]
                      ; bottom layer left
                      [:c :grave_accent_and_tilde]
                      [:v :!Sgrave_accent_and_tilde]
                      ; bottom layer right
                      [:m :!Sopen_bracket]
                      [:comma :!Sclose_bracket]
                      [:period :open_bracket]
                      [:slash :close_bracket]
                      ]}
             {:des   "number persistent layer"
              :rules [:number-layer
                      [:q :equal_sign]
                      [:a :1]
                      [:s :2]
                      [:d :3]
                      [:f :4]
                      [:g :5]
                      [:h :6]
                      [:j :7]
                      [:k :8]
                      [:l :9]
                      [:semicolon :0]
                      ]}
             {:des   "navigation mode"
              :rules [:navigation-mode
                      ; arrows layer
                      [:h :left_arrow]
                      [:j :down_arrow]
                      [:k :up_arrow]
                      [:l :right_arrow]
                      ; page up or down layer
                      [:d :page_down]
                      [:u :page_up]
                      ; y simulates the old ^
                      [:y :home]
                      ; f simulates $
                      [:f :end]
                      ]
              }
             ]
 }
